@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #160e0a;
}
body {
    font-family: "Josefin Sans", sans-serif;
    /* background-color: #f7ede7; */
}
.home__section {
    background-image: url(img/Foodify.jpg);
    /* opacity: 2%; */
}
/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */
