@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #160e0a;
}
body {
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(31 41 55);
    height: 100vh;
    width: 100vw;
    /* background-color: #f7ede7; */
}
.home__section {
    background-image: url(img/Foodify.jpg);
    /* opacity: 2%; */
}
.active {
    color: #eab308;
}
.custom-loader {
    width: 70px;
    height: 70px;
    background: radial-gradient(farthest-side, #766df4 90%, #0000) center/16px
            16px,
        radial-gradient(farthest-side, #6f6d91 90%, #0000) bottom/12px 12px;
    background-repeat: no-repeat;
    animation: s7 1s infinite linear;
    position: relative;
}
.custom-loader::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    inset: auto 0 16px;
    margin: auto;
    background: #e4e4ed;
    border-radius: 50%;
    transform-origin: 50% calc(100% + 10px);
    animation: inherit;
    animation-duration: 0.5s;
}

@keyframes s7 {
    100% {
        transform: rotate(1turn);
    }
}
.slick-dots li button:before {
    color: #fff !important;
}
.maxWidth {
    width: max-content;
}
